<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <% if (!contact) { %>
            <div class="alert alert-danger fw-bold" role="alert">
                Contact not found <br>
                <a href="/contact" class="alert-link fw-normal">back to contact</a>
            </div>
            <% }else{ %>
            <h2>Contact Detail</h2>
            <div class="card" style="width:18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= contact.name %> </h5>
                    <h6 class="card-subtitle mb-2 text-muted "><%= contact.nohp %> </h6>
                    <p class="card-text"><%= contact.email %> </p>
                    <a href="/contact/edit/<%= contact.name  %>" class="btn btn-sm btn-info text-white">Edit</a>
                    <!-- <a href="/contact/delete/<%= contact.name  %>" class="btn btn-sm btn-danger"
                        onclick="return confirm('Are you sure?')">Delete</a> -->
                    <form action="/contact?_method=DELETE" method="POST" class="d-inline">
                        <input type="hidden" name="name" value="<%= contact.name %>">
                        <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('are you sure to delete this?')">Delete</button>
                    </form>
                    <a href="/contact" class="card-link d-block mt-3">&laquo; Back to contact</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>